.flow-vertical-link {
    margin-bottom: 10px;
}

.maps-dynamic {
    height: 600px;
    width: 600px;
}

.maps-dynamic #map {
    height: 100%;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.marker {
  background-image: url('/static/images/MK4NUzI.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
