{% extends 'base.html' %}

{% block title %}
    Main Page
{% endblock %}

{% block content %}
    <div class="flow-vertical-link">
        <a href="{{ url_for('maps_embed') }}">Maps/Embed</a>
    </div>
    <div class="flow-vertical-link">
        <a href="{{ url_for('maps_static') }}">Maps/Static</a>
    </div>
    <div class="flow-vertical-link">
        <a href="{{ url_for('maps_dynamic') }}">Maps/Dynamic</a>
    </div>
    <div class="flow-vertical-link">
        <a href="{{ url_for('places_autocomplete') }}">Places Autocomplete</a>
    </div>
{% endblock %}
